<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
	<link href={{ static_url("default.css") }} rel="stylesheet" type="text/css" />
	{% block head %}{% end %}
  </head>
  <body>
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="/">{{ escape(handler.settings["blog_title"]) }} </a></h1>
			<p>&nbsp;&nbsp;by&nbsp; <a href="http://www.divijvaidya.in/">Divij Vaidya</a></p>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/">{{ _("Home") }}</a></li>
				<li><a href="/compose">{{ _("New post") }}</a></li>
				<li><a href="/auth/logout">{{ _("Sign out") }}</a></li>
			</ul>
		</div>
	</div>
	<!-- end header -->
	
    <div id="body">
	<div id="content"> {% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html
