{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
	function addImageURL()
	{
		var imageurl = prompt("Enter image URL", "http://")
		var post = document.getElementById("post-content").value;

		document.getElementById('post-content').value = post + '<img src="' + imageurl + '"></img>';

	}
	function addVideoURL()
	{
		var videourl = prompt("Enter Video URL", "Enter YouTube video ID")
		var post = document.getElementById("post-content").value;

		document.getElementById('post-content').value = post + '<iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="http://youtube.com/embed/'+videourl+'" frameborder="0" allowFullScreen></iframe>';

	}
</script>
{% end %}
{% block body %}
	
	
	<div id="compose-page">
		<form action="{{ request.path }}" method="post" class="compose">
		<div class="post-form-row">
			<label for="post-title" class="label-title" >Title: &nbsp;</label><input id="post-title" name="post-title" type="text" class="post-title" value="{{ escape(entry.title) if entry else "" }}"/>
		</div>
		<br>
		<div class="post-form-row">
			<label for="post-content" class="label-title">Write Here: &nbsp;</label>
		</div>
		<div class="post-form-row">
			<textarea id="post-content" name="post-content" rows="30" cols="100" >{{ escape(entry.content) if entry else "" }}</textarea>
		</div>		
		<div class="post-form-row">
		<br>
		<label for="tags" class="label-title" >Tags: &nbsp;</label><input id="tags" name="tags" type="text" class="post-title" value=""/>
		</div>
		<div class="post-form-row">
			<br>
		  <input type="submit" value="{{ _("Save changes") if entry else _("Publish post") }}" class="button"/>
		  &nbsp;<a href="{{ "/entry/" }}">{{ _("Cancel") }}</a>
		</div>
		
	  </form>

<button onclick=addImageURL()>Insert Picture</button>
<button onclick=addVideoURL()>Insert Youtube Video</button>
	</div>
{% end %}
